.plupload_filelist .plupload_file_name {
width: 1005px;
white-space: nowrap;
text-overflow: ellipsis;
}
.x-splash-icon {
    /* Important required due to the loading symbols CSS selector */
    width:305px;height:60px;    
    background-image: url('../../../images/logo.png') !important;
    margin-bottom: 1px;
}
.x-grid-cell-inner {
    padding: 2px 4px 3px;
}
.x-mask-msg {border: 0px;}

.iconTrashcan{
    background-image: url(../../../images/trash.png) !important;
}
.icon-compress{
    background-image: url(../images/compress.png) !important;
}
.icon-disk-add{
    background-image: url(../images/cd_add.png) !important;
}
.icon-add {
    background-image: url(../images/add.png) !important;
}
.icon-delete {
    background-image: url(../images/delete.png) !important;
}
.icon-restore {
    background-image: url(../images/folder_go.png) !important;
}
.icon-expire {
    background-image: url(../images/calendar_delete.png) !important;
}
.icon-undelete {
    background-image: url(../images/folder_database.png) !important;
}
.icon-retain {
    background-image: url(../images/page_save.png) !important;
}
.icon-up {
    background-image: url(../images/go-up.png) !important;
}
.icon-down {
    background-image: url(../images/go-down.png) !important;
}
.icon-folder-new {
    background-image: url(../images/folder_add.png) !important;
}
.icon-edit {
    background-image: url(../images/folder_edit.png) !important;
}
.icon-file-edit {
    background-image: url(../images/page_edit.png) !important;
}
.icon-watch {
    background-image: url(../images/folder_bell.png) !important;
}
.icon-clone {
    background-image: url(../images/folder_feed.png) !important;
}
.icon-disk {
    background-image: url(../images/disk.png) !important;
}
.icon-view {
    background-image: url(../images/magnifier.png) !important;
}
.icon-folder-details {
    background-image: url(../images/folder_explore.png) !important;
}
.icon-file-details {
    background-image: url(../images/page_white_wrench.png) !important;
}
.icon-lock {
    background-image: url(../images/lock_edit.png) !important;
}
.icon-file-lock {
    background-image: url(../images/lock.png) !important;
}
.icon-lock-edit {
    background-image: url(../images/lock_edit.png) !important;
}
.icon-usage-report {
    background-image: url(../images/report.png) !important;
}
.icon-help {
    background-image: url(../images/help.png) !important;
}
.icon-go {
    background-image: url(../images/folder_heart.png) !important;
}
.icon-go-home {
    background-image: url(../images/house.png) !important;
}
.icon-go-add {
    background-image: url(../images/heart_add.png) !important;
}
.icon-go-del {
    background-image: url(../images/heart_delete.png) !important;
}
.icon-go-heart {
    background-image: url(../images/heart.png) !important;
}
.icon-folder {
    background-image: url(../images/folder.png) !important;
}
.icon-user {
    background-image: url(../images/user.png) !important;
}
.icon-tools {
    background-image: url(../images/wrench.png) !important;
}
.icon-logout {
    background-image: url(../images/disconnect.png) !important;
}
.icon-password {
    background-image: url(../images/key.png) !important;
}
.icon-revisions {
    background-image: url(../images/page_attach.png) !important;
}
.icon-copy {
    background-image: url(../images/page_copy.png) !important;
}
.icon-paste {
    background-image: url(../images/page_paste.png) !important;
}
.icon-audit-log {
    background-image: url(../images/page_white_magnify.png) !important;
}
.icon-line-chart {
    background-image: url(../images/chart_line.png) !important;
}
.icon-upload-report {
    background-image: url(../images/transmit.png) !important;
}
.icon-search-help {
    background-image: url(../images/page_white_find.png) !important;
}
.icon-ticket-help {
    background-image: url(../images/page_add.png) !important;
}
.icon-user-manage {
    background-image: url(../images/user_edit.png) !important;
}
.icon-trash-manage {
    background-image: url(../images/trash.png) !important;
}
.icon-group-manage {
    background-image: url(../images/group_gear.png) !important;
}
.icon-file-share {
    background-image: url(../images/world_link.png) !important;
}
.icon-folder-open {
    background-image: url(../images/go-jump.png) !important; height: 18px; width:18px;
}
.search {
  background: url(../images/search-box.png) no-repeat;
  padding: 2px 0 0 25px;
  .x-panel-body-default {
    border: 0;
    background: none;  } 
}

.search .x-form-text {
  border: 0; background: 0; }

#search-field .reset {
  background: url(../images/x.png) no-repeat;
  width: 16px;
  height: 16px;
  border: 0;
  margin: 2px 0 0 14px; }

#search-dropdown {
  border-style: solid;
  border-color: gray;
  border-width: 1px 1px 0 1px;
  background: white;
  position: absolute;
  width: 190px;
  top: 18px;
  left: 23px;
  z-index: 5;
}

#search-dropdown .item,#search-dropdown .footer {
    position: relative;
    display: block;
    cursor: pointer;
    overflow: hidden;
    padding: 5px 5px 5px 10px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: gray;
    color: #605f5f;
    }
#search-dropdown .footer {
    cursor: auto;
    text-align: right;
    font-size: 0.85em;
}
#search-dropdown .footer a{
    text-decoration: none;
}
#search-dropdown .item a {
      padding: 0 0.5em; }
#search-dropdown .item .title {
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
     }
#search-dropdown .item .size {
      font-size: 0.85em;
      overflow: hidden;
      text-overflow: ellipsis; } 
#search-dropdown .item .icon {
    position: absolute;
    float: left;
    top: 6px;
    left: 4px;
    width: 18px;
    height: 18px; }  
.x-item-selected {
    background-color: #ffffaa; }
.x-view-over {
    background-color: #ffffaa; }
.plupload_filelist_footer { height: 36px; }